body {
    background-color: #f5f5f5;
    color: #283e4a;
    font-family: sans-serif;
    padding: 10px;
}

:local(.box) {
    background-color: #fff;
    padding: 30px 10px;
    border: 0;
    margin-bottom: 16px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

#content {
    padding: 30px 10px;
    border: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    margin: 16px 0;
}
